.feed-screen,
.feed-screen * {
  box-sizing: border-box;
}
.feed-screen {
  background: #ffffff;
  width: 1440px;
  height: 2308px;
  position: relative;
  overflow: hidden;
}
.frame-43266 {
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  width: 268px;
  height: 2308px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.chatter {
  color: var(--blue-500, #543ee0);
  text-align: left;
  font: var(--desktop-headline-2-32-48, 500 32px/48px "DM Sans", sans-serif);
  position: absolute;
  left: 72px;
  top: 10px;
}
.frame-43288 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 179px;
  height: 41px;
  position: absolute;
  left: 72px;
  top: 415px;
}
.trending-tags {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.eva-trending-up-outline {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.eva-trending-up-outline-0 {
  position: absolute;
  inset: 0;
}
.eva-trending-up-outline-1 {
  position: absolute;
  left: 3px;
  top: 6px;
  overflow: visible;
}
.frame-43289 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 174px;
  position: absolute;
  left: 90px;
  top: 468px;
}
.programming {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.data-science {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.technology {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.machine-learning {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.politics {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.see-all {
  color: var(--blue-500, #543ee0);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: absolute;
  left: 89px;
  top: 664px;
}
.personal {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: absolute;
  left: 73px;
  top: 715px;
}
.overview {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: absolute;
  left: 73px;
  top: 82px;
}
.frame-43293 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 88px;
  top: 754px;
}
.frame-43292 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 136px;
  height: 42px;
  position: relative;
}
.frame-43290 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mdi-account-outline {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.account {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.frame-43291 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 42px;
  position: relative;
}
.basil-notification-outline {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.notifications {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.frame-43335 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 89px;
  top: 133px;
}
.frame-43287 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43270 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 170px;
  height: 42px;
  position: relative;
}
.iconsax-linear-ftxtoken {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.feed {
  color: var(--blue-500, #543ee0);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43271 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 174px;
  height: 42px;
  position: relative;
}
.material-symbols-bookmarks-outline {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.bookmarks {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43285 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 174px;
  height: 42px;
  position: relative;
}
.ant-design-team-outlined {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.team-blogs {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43286 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 174px;
  height: 42px;
  position: relative;
}
.material-symbols-drafts-outline {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.drafts {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43334 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 167px;
  height: 42px;
  position: relative;
}
.ic-outline-analytics {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.analytics {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.log-out {
  color: #ff1400;
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: absolute;
  left: 89px;
  top: 874px;
}
.frame-43267 {
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  width: 1171px;
  height: 66px;
  position: absolute;
  left: 268px;
  top: 0px;
  overflow: hidden;
}
.frame-43268 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 459px;
  height: 48px;
  position: absolute;
  left: 310px;
  top: 9px;
}
.ri-search-line {
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}

.search-chatter {
    color: var(--black-400, #626262);
    text-align: left;
    font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
    position: relative;
    border: none;
    outline: none;
  }
  

.frame-43269 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 958px;
  top: 9px;
}
.basil-notification-outline2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.mask-group {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: static;
}
.ellipse-5 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 36px;
  top: 0px;
}
.unsplash-f-h-xpg-md-xh-e {
  width: 52.68px;
  height: 51.34px;
  position: absolute;
  left: 33.51px;
  top: -1.82px;
  border-radius: 50%;
}
.frame-43294 {
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  width: 1076px;
  height: 2212px;
  position: absolute;
  left: 292px;
  top: 96px;
  overflow: hidden;
}
.frame-43333 {
  display: flex;
  flex-direction: row;
  gap: 380px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 111px;
  top: 22px;
}
.frame-43295 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.feed2 {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-2-32-48, 500 32px/48px "DM Sans", sans-serif);
  position: relative;
}
.explore-different-content-you-d-love {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.frame-43296 {
  background: var(--blue-500, #543ee0);
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.icon-park-outline-write {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 2.66px;
  top: 1.95px;
  overflow: visible;
}
.post-a-content {
  color: #ffffff;
  text-align: left;
  font: 700 16px/24px "DM Sans", sans-serif;
  position: relative;
}
.frame-43300 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  width: 854px;
  height: 1952px;
  position: absolute;
  left: 111px;
  top: 238px;
  overflow: hidden;
}
.line-23 {
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px 0 0 0;
  width: 854px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 675px;
}
.line-24 {
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px 0 0 0;
  width: 854px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 1337px;
}
.frame-43332 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  top: 1360px;
}
.frame-43331 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43329 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43328 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43327 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43326 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mask-group2 {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: static;
}
.ellipse-52 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.iconImg {
  width: 105.35px;
  height: 102.68px;
  position: absolute;
  left: -4.99px;
  top: -3.65px;
  border-radius: 50%;
}
.frame-43325 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.adebobola-muhydeen {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-3-24-36, 500 24px/36px "DM Sans", sans-serif);
  position: relative;
  width: 249px;
  height: 36px;
}
.frame-43324 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.political-analyst {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.may-23rd-2023 {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.the-impact-of-social-media-on-political-discourse {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-2-32-48, 500 32px/48px "DM Sans", sans-serif);
  position: relative;
}
.frame-43304 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ant-design-read-outlined {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._10-mins-read {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.in-the-era-of-digital-communication-social-media-platforms-have-become-pervasive-in-our-daily-lives-revolutionizing-the-way-we-connect-share-information-and-engage-with-the-world {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
  width: 706px;
}
.frame-43330 {
  background: var(--black-100, #d0d0d0);
  border-radius: 8px;
  flex-shrink: 0;
  width: 612px;
  height: 242px;
  position: relative;
  overflow: hidden;
}
.unsplash-wq-l-glhjr-6-og {
  border-radius: 8px;
  width: 612px;
  height: 242px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-43311 {
  display: flex;
  flex-direction: row;
  gap: 185px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43308 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ant-design-comment-outlined {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._200 {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43309 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.material-symbols-favorite-outline {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._120 {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43310 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ic-outline-analytics2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._2980-views {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-sub-text-16-24, 400 16px/24px "DM Sans", sans-serif);
  position: relative;
}
.frame-43314 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 30px;
}
.frame-43313 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43312 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43306 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43303 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-2 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.unsplash-jzz-3-j-w-mz-ha {
  width: 105.35px;
  height: 102.68px;
  position: absolute;
  left: 0px;
  top: -3.65px;
}
.frame-43302 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.grace-ikpang {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-3-24-36, 500 24px/36px "DM Sans", sans-serif);
  position: relative;
}
.frame-43301 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.product-designer {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.may-25th-2023 {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.frame-43305 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.starting-out-as-a-product-designer {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-2-32-48, 500 32px/48px "DM Sans", sans-serif);
  position: relative;
  width: 526px;
}
.ant-design-read-outlined2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.embarking-on-a-journey-as-a-product-designer-can-be-an-exhilarating-and-fulfilling-experience-as-a-profession-that-bridges-the-realms-of-art-technology-and-problem-solving-product-design-offers-an-opportunity-to-shape-the-way-people-interact-with-the-world-around-them {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
  width: 620px;
}
.frame-43307 {
  background: var(--black-100, #d0d0d0);
  flex-shrink: 0;
  width: 612px;
  height: 242px;
  position: relative;
  overflow: hidden;
}
.unsplash-zvm-ziw-3-vds-q {
  border-radius: 8px;
  width: 612px;
  height: 242px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ant-design-comment-outlined2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.material-symbols-favorite-outline2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ic-outline-analytics3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-43323 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 695px;
}
.frame-43322 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43321 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43320 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43319 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-43317 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-4 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.unsplash-i-eeb-wg-y-6-l-a {
  width: 105.35px;
  height: 102.68px;
  position: absolute;
  left: -4.36px;
  top: 0px;
}
.frame-43316 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.oluwatobi-ogunniyi {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-3-24-36, 500 24px/36px "DM Sans", sans-serif);
  position: relative;
}
.frame-43315 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.software-developer {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.may-22nd-2023 {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
}
.using-css-selectors {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-2-32-48, 500 32px/48px "DM Sans", sans-serif);
  position: relative;
}
.ant-design-read-outlined3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.cascading-style-sheets-css-is-a-fundamental-technology-that-lies-at-the-heart-of-modern-web-design-it-empowers-developers-and-designers-to-transform-plain-html-into-visually-captivating-and-interactive-web-pages {
  color: var(--black-400, #626262);
  text-align: left;
  font: var(--desktop-body-18-27, 400 18px/27px "DM Sans", sans-serif);
  position: relative;
  width: 592px;
}
.frame-43318 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  flex-shrink: 0;
  width: 612px;
  height: 242px;
  position: relative;
  overflow: hidden;
}
.unsplash-6-j-vl-sdg-mac-e {
  border-radius: 8px;
  width: 612px;
  height: 242px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ant-design-comment-outlined3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.material-symbols-favorite-outline3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.ic-outline-analytics4 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-43297 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--black-100, #d0d0d0);
  border-width: 1px;
  width: 854px;
  height: 80px;
  position: absolute;
  left: 110px;
  top: 158px;
  overflow: hidden;
}
.frame-43299 {
  display: flex;
  flex-direction: row;
  gap: 240px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 51px;
  top: 22px;
}
.frame-43298 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.for-you {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-3-24-36, 500 24px/36px "DM Sans", sans-serif);
  position: relative;
}
.rectangle-35 {
  background: var(--blue-500, #543ee0);
  flex-shrink: 0;
  width: 84px;
  height: 6px;
  position: relative;
}
.featured {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-3-24-36, 500 24px/36px "DM Sans", sans-serif);
  position: relative;
}
.recent {
  color: var(--black-700, #111111);
  text-align: left;
  font: var(--desktop-headline-3-24-36, 500 24px/36px "DM Sans", sans-serif);
  position: relative;
}
